extends layout 
block content 

    h1= title

    if category_list.length 
        ul 
            each category in category_list 
                li 
                    h2 
                        a(href=category.url) #{category.name}
                    p #{category.description}
                    hr